@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
  }



body {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400; or any value between 100 and 900;
}

.main-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    max-width: 620px;
    height:430px;
    width:200px;
    width: 100%;
    padding: 0;
    background-color: white;
    border-radius:20px;
}

.left-container, .right-container {
    width: 50%;
}

.left-container {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));;
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 1.5rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container {
    background-color: white;
    color: #343434;
    padding: 1.5rem;
    border-radius: 0 10px 10px 0;
}





h1{
font-size:1.3rem;
font-weight: 500;
margin-bottom:2rem;
color: rgba(255, 255, 255, 0.826);
}


.result-container{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius:50%;
    width:160px;
    height:160px;
    font-weight:600;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    overflow:hidden; 
}

.result{
    font-size:3.5rem;
    font-weight:580;
    color:white
    
}

.max-result{
    font-size:.8rem;
    color: rgba(255, 255, 255, 0.327);
}
 h2{
font-size:24px;
margin-bottom:0;
font-weight: 500;
 }

 p{
    font-size:14px;
    color: rgba(255, 255, 255, 0.516);
    padding:0 2rem 0 2rem ;
    font-weight:500;
 }

 .attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: hsl(221, 100%, 96%);
    padding: 10px 0; 
}




@media (max-width: 600px) {
    .main-component {
        flex-direction: column;
        max-width: 375px;
    }

    .left-container, .right-container {
        width: 100%;
    }

    .left-container {
        border-radius: 10px 10px 0 0;
    }

    .right-container {
        border-radius: 0 0 10px 10px;
    }
}





