@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
  }

body {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400; or any value between 100 and 900;
}

.main-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    max-width: 620px;
    height:430px;
    width:200px;
    width: 100%;
    padding: 0;
    background-color: white;
    border-radius:20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-container, .right-container {
    width: 50%;
}

.left-container {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));;
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 1.5rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container {
    background-color: white;
    color: #343434;
    padding: 1.5rem;
    border-radius: 0 10px 10px 0;
    text-align: left;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.reaction-text{
   color: hsl(0, 100%, 67%);
}

.memory-text{
   color: hsl(39, 100%, 56%);
}

.verbal-text{
color:hsl(166, 100%, 37%);
}

.visual-text{
color:hsl(234, 85%, 45%);
}



button{
    padding:15px;
    border-radius:40px;
    border:none;
    font-size:16px;
    margin-top:1rem;
    margin-bottom:1rem;
    color:rgba(255, 255, 255, 0.794);
    background-color:hsl(224, 30%, 27%);
    font-weight:700;
    font-family: 'Hanken Grotesk', sans-serif;

}

button:hover{
    color:rgba(255, 255, 255, 0.931);
    background-color:hsl(224, 22%, 44%);
    cursor:pointer;
  

}
.reaction-container{
    height:fit-content;
    background-color: hsla(0, 100%, 67%, 0.075);
    border-radius:10px;
    margin:0px 0 10px 0;
    padding:.8rem;
    display:flex;
    align-items: center;
   
    
}
.memory-container{
    height:fit-content;
    background-color: hsla(39, 100%, 56%, 0.089);
    border-radius:10px;
    margin:15px 0 15px 0;
    padding:.8rem;
    display:flex;
    align-items: center;
    height: fit-content;
   
}
.verbal-container{
    height:fit-content;
    background-color: hsla(166, 100%, 37%, 0.087);
    border-radius:10px;
    margin:15px 0 15px 0;
    padding:.8rem;
    display:flex;
    align-items: center;
    height: fit-content;
 
}
.visual-container{
    height:fit-content;
    background-color: hsla(234, 85%, 45%, 0.079);
    border-radius:10px;
    padding:.8rem;
    display:flex;
    align-items: center;
    height: fit-content;
    
}
.bold{
    font-weight:700;
}

.icon-text{
    display:flex;
    align-items:center;
}

.icon-text svg{
    margin-right:.5rem;
}

.reaction-text,
.memory-text,
.verbal-text,
.visual-text {
  margin-left: 0.5rem;
}

.score-number {
  margin-left: auto;
}

.reaction-icon,
.memory-icon,
.verbal-icon,
.visual-icon {
  display: inline-block;
  vertical-align: middle; /* Ensures SVG is treated as inline content */
  width: 20px; /* Adjust size if needed */
  height: 20px; /* Adjust size if needed */}

h1{
font-size:1.3rem;
font-weight: 500;
margin-bottom:2rem;
color: rgba(255, 255, 255, 0.826);
}

.result-container{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius:50%;
    width:160px;
    height:160px;
    font-weight:600;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    overflow:hidden; 
}

.result{
    font-size:3.5rem;
    font-weight:580;
    color:white;
    
}

.max-result{
    font-size:.8rem;
    color: rgba(255, 255, 255, 0.327);
}
 .h2-left{
font-size:24px;
font-weight: 500;
 }

 .h2-right{
    color:#343434;
    font-weight:600;
 }

 p{
    font-size:14px;
    color: rgba(255, 255, 255, 0.516);
    padding:0 2rem 0 2rem ;
    font-weight:500;
 }

 .attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: hsl(221, 100%, 96%);
    padding: 10px 0; 
}




@media (max-width: 600px) {
    .main-component {
        flex-direction: column;
        max-width: 375px;
    }

    .left-container, .right-container {
        width: 100%;
    }

    .left-container {
        border-radius: 10px 10px 0 0;
    }

    .right-container {
        border-radius: 0 0 10px 10px;
    }
}





